#calendar-container{
   margin: auto;
   padding: 20px;
   width:1000px;
}

#calendar-title{
  margin: auto;
  text-align: center;
  width:100%;
}

#calendar-month-title{
  padding:20px;
}

#calendar-previous-month-control{
  text-align:left;
}

#calendar-next-month-control{
  text-align:right;
}

#calendar-nav-bar{
  margin:auto;
  width:100%;
  text-align:center;
}


#calendar-header{
    padding: 70px 0px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

#calendar-daynames{
  background: #1abc9c;
}

.calendar-dayname{
  width:14%;
  color: #666;
  text-align: center;
  padding:2px;
  margin:0;
  padding:2px;
  background-color: #ddd;
  text-overflow: ellipsis;

}

.month-control{
  cursor:pointer;
}

.nav-bar h2{

}

.calendar-grid-week-row{


}

.calendar-grid-box{
  width:
}

.calendar-event-container{
  height:100px;
  margin:0px;
  padding:0px;
  padding-top:0px;
  border-spacing: 0px;
  width:inherit;


}

.calendar-event{
background-color: #1abc9c;
  margin:3px;
  padding:2px;
  padding-left:5px;
  cursor:pointer;
  width:inherit;
  display:block;
  color:#333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;



  border-radius:5px;
  border:1px solid #DCDCDC;
}


.calendar-number-label{
  text-align:right;
  background-color:	#F5F5F5;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
  text-decoration:none;
  color:#333;
}

.event-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
  background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table{
  border-spacing:0px;

}

table, td {
  border-spacing:0px;
    border: 1px solid #DCDCDC;


}

body {font-family: Verdana, sans-serif;}




@media screen and (max-width:1040px) {
  #calendar-container{
     width:800px;
  }
}

@media screen and (max-width:840px) {
  #calendar-container{
     width:680px;
  }
}

@media screen and (max-width:720px) {
  #calendar-container{
     width:500px;
  }
}

@media screen and (max-width:520px) {
  #calendar-container{
     width:400px;
     padding: 0px;
  }
}


@media screen and (max-width:420px) {
  #calendar-container{
    width:100%;
    padding:0px;
  }

  .calendar-event{
  background-color: #1abc9c;
    margin:0px;
    padding:0px;
    padding-left:0px;
}
