#calendar-container{
   margin: auto;
   padding: 20px;
   width:1000px;
}

#calendar-title{
  margin: auto;
  text-align: center;
  width:100%;
}

#calendar-month-title{
  padding:20px;
}

#calendar-previous-month-control{
  text-align:left;
}

#calendar-next-month-control{
  text-align:right;
}

#calendar-nav-bar{
  margin:auto;
  width:100%;
  text-align:center;
}


#calendar-header{
    padding: 70px 0px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

#calendar-daynames{
  background: #1abc9c;
}

.calendar-dayname{
  width:14%;
  color: #666;
  text-align: center;
  padding:2px;
  margin:0;
  padding:2px;
  background-color: #ddd;

}

.month-control{
  cursor:pointer;
}

.nav-bar h2{

}

.calendar-grid-week-row{


}

.calendar-event-container{
  height:100px;
  margin:0px;
  padding:0px;
  padding-top:0px;
  border-spacing: 0px;


}

.calendar-event{
  margin:3px;
  padding:2px;
  padding-left:5px;


  border-radius:5px;
  border:1px solid #DCDCDC;
}

.calendar-number-label{
  text-align:right;
  background-color:		#F5F5F5;
}

table{
  border-spacing:0px;

}

table, td {
  border-spacing:0px;
    border: 1px solid #DCDCDC;


}

body {font-family: Verdana, sans-serif;}




@media screen and (max-width:1040px) {
  #calendar-container{
     width:800px;
  }
}

@media screen and (max-width:840px) {
  #calendar-container{
     width:680px;
  }
}

@media screen and (max-width:720px) {
  #calendar-container{
     width:500px;
  }
}

@media screen and (max-width:420px) {
  #calendar-container{
    width:100%;
    padding:0px;
  }
}
